:root {
  --logo: #18C3B2;
  --nav: #3A3E41;
  --back: #282B2E;
  --text: #FFFFFF;
  --extra-color: #E64B4E;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--back);
  color: var(--text);
}