#DescriptionSection{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;

    background-color: white;

}

.description-mockup{
    width: 40%;
    height: 100%;
    background-image: url("../Assets/mockup.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.description-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-right h2{
    text-transform: uppercase;
    width: 90%;
    font-size: 5 vh;
    font-weight: 1000;
    letter-spacing: 0.5rem;
    color: var(--logo);
    text-align: center;
    margin: 0;
}

.description-right p{
    width: 70%;
    font-size:  1.125rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: black;
    text-align: center;
}

.header-button{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 0.2rem solid var(--logo);
    border-radius: 0.5rem;
    background-color: var(--logo);
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinButton2 {
    width: 20%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.joinButton2 a {
    text-decoration: none;
    width: 50%;
    height: 50%;

    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--nav);

    font-size: 1vw;
    font-weight: 400;
    color: var(--text);

    transition: background-color 0.5s ease;
}

.joinButton2 a:hover,
.joinButton2 a:focus {
    background-color: var(--logo);
    outline: none;
}