#mainSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.companyLogo{
    height: 30vh;
    width: 80vw;

    background-image: url("../Assets/visuali_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#mainSection h1{
    margin: 0;
    font-size: 2vw;
}

#mainSection p{
    width: 45%;
    text-align: center;
}

@media only screen and (max-width: 600px){
    #mainSection{
        height: 100vh;
    }

    .companyLogo{
        height: 15vh;
        width: 80vw;
    }

    #mainSection h1{
        font-size: 24px;
        text-align: center;
    }

    #mainSection p{
        width: 80%;
        font-size: 16px;
    }
}